.principal {
  width: 100%;
  height: 800px;
  background-color: var(--primaria-bg);
}

.titulo {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}

.titulo > h1 {
  font-size: 40px;
  font-family: var(--special);
}

.box-contato {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contato {
  width: 881px;
  height: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contato > p {
  font-size: 25px;
  font-family: var(--off);
}

.box {
  height: 200px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.telefone {
  height: 80px;
  width: 80px;
  background-image: url('../img/icon-telefone.png');
  background-position: center;
  background-size: contain;
}

.whatsapp {
  height: 80px;
  width: 80px;
  background-image: url('../img/icon-wpp.png');
  background-position: center;
  background-size: contain;
}

.mensagem {
  height: 80px;
  width: 80px;
  background-image: url('../img/icon-mensagem.png');
  background-position: center;
  background-size: contain;
}
