body {
  background: var(--cinza-claro-bg-card);
}
a {
  text-decoration: none;
  color: white;
}
.carrossel img {
  width: 100%;
  height: auto;
}

.titulo-principal {
  padding: 40px 20px 20px;
  border-bottom: 6px solid #e93678;
}
.titulo-principal h1 {
  font-family: var(--special);
  font-size: 50px;
  color: var(--primaria);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 60px 0;
}

.card1 {
  width: 354px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--secundaria-bg);
  border-radius: 20px;
}

.card1 h3 {
  font-family: var(--off);
  color: var(--primaira-texto);
  font-weight: 400;
  font-size: 36px;
}

.card1 button {
  width: 240px;
  height: 90px;
  background: var(--primaira-button);
  border: none;
  border-radius: 30px;
  color: white;
  font-family: var(--bellota);
  font-size: 36px;
}
